/*About Mian*/
main #about-content {    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}

#about-below {
    font-size: 1em !important;
    padding: 10px !important;
    background-color: rgba(255, 255, 255, 0.7);
}

#about-main .progress {
    padding: 10px 0;
}

#about-main .progress h3{
    font-size: 1.2em !important;
    padding: 10px 30px;
}

.about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-card i {
    font-size: 1.5em;
    padding-bottom: 5px;
}

.about-card li {
    text-align: left;
    margin-bottom: 2px;
}

.about-card img {
    height: auto;
    width: 250px;
}

#resume a{
    background-color: rgba(255, 255, 255, 0.7);
}