.header-contact p, .header-contact aside {
    position: relative;
    bottom: 80px;
}

.header-contact p {
	font-size: 1.5em;
}

#contact-main h2 {
    text-align: center;
    display: none;
}