footer {
	position: absolute;
	font-size: 1em;
	color: #628bbd;
	background-color: #10314a;
	line-height: 1.5;
	text-align: center;
	width: 100%;
}

.footer-social {
	padding: 15px 0;
}

.footer-social i {
	padding: 8px;
	color: #628bbd;
	font-size: 2rem;
	transition: color 0.5s ease;
}

.footer-social i:hover {
	color: #ff5a6a;
}

#disclaimer {
	text-align: center;
	border-top: 2px solid #628bbd;
}

#disclaimer i {
	color: red;
	padding: 0 3px;
}

#disclaimer a {
	color: #628bbd;
}