.footer-background {
	position: absolute;
	height: 400px;
	width: 100%;
	background: #171618;
	background: -moz-linear-gradient(-45deg, #171618 0%, #312E33 66%, #39363C 100%);
	background: -webkit-linear-gradient(-45deg, #171618 0%, #312E33 66%, #39363C 100%);
	background: linear-gradient(135deg, #171618 0%, #312E33 66%, #39363C 100%);
	z-index: -99;
}

.footer-overlay {
	height: 400px;
	width: 100%;
	background-image: url('../images/bright-squares.png');
	position: absolute;
	opacity: 0.2;
	z-index: -1;
}

footer {
	font-size: 1.5rem;
	color: #8C756F;
	line-height: 1.5;
	height: 400px;
	width: 100%;
}

footer h2 {
	font-size: 2rem;
	color: #FF7300;
	text-shadow: 2px 2px 0 #1B181D,
				 2px 2px 2px #EFEFF0,
				 3px 3px 0px #86A5AA;
	padding: 100px 20px 40px 20px;
	letter-spacing: 2px;
}

footer h3 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	color: #EFEFF0;
}

#footer-content {
	text-align: left;
	padding: 30px;
}

.footer-contact {
	padding-left: 30px;
}

.footer-contact i {
	padding-right: 8px;
	color: #8C756F;
	font-size: 2rem;
	padding-bottom: 30px;
	transition: color 0.5s ease;
}

.footer-contact i:hover {
	color: #FF7300;
}

#disclaimer {
	text-align: center;
	padding: 10px;
	font-size: 1rem;
	border-top: 2px solid #8C756F;
}

#disclaimer i {
	color: red;
	padding: 0 3px;
}

@media only screen and (min-width:800px) {
	#contact-message {
		height:200px;
		width: 80%;
	}
}

@media only screen and (max-width:800px) {
	footer {
		font-size: 1.2rem;
		text-align: center;
	}
	#footer-content h2 {
	padding: 50px 20px 40px 20px;
	}
	#contactBtn, #contact-name, #contact-email, #contact-subject, #contact-message {
		font-size: 1rem;
	}
	#footer-content {
		text-align: center;
		margin: 0 auto;
	}
	.footer-contact i {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width:500px) {
	footer {
		font-size: 0.8rem;
	}
	#footer-content h2 {
	font-size: 1.2rem;
	padding: 50px 20px 40px 20px;
	}
	#contactBtn, #contact-name, #contact-email, #contact-subject, #contact-message {
		font-size: 0.8rem;
	}
	#footer-content {
		text-align: center;
		margin: 0 auto;
	}
	.footer-contact i {
		font-size: 1.2rem;
	}
	#disclaimer {
	font-size: 0.8rem;
}
