form {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 10px;

}

form input, form textarea{
    background-color: #fff;
    color: #ff5a6a;
    border: 3px solid #10314a;
    border-radius: 3px;
    padding: 5px 8px;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

form input:focus, form textarea:focus {
    box-shadow: 4px 6px 4px rgba(16, 49, 74, 0.5),
                -4px 6px 4px rgba(16, 49, 74, 0.5);
}

#message {
    height: 300px;
}
