.heading-background {
	position: absolute;
	height: 660px;
	width: 100%;
	background: #171618;
	background: -moz-linear-gradient(-45deg, #171618 0%, #312E33 66%, #39363C 100%);
	background: -webkit-linear-gradient(-45deg, #171618 0%, #312E33 66%, #39363C 100%);
	background: linear-gradient(135deg, #171618 0%, #312E33 66%, #39363C 100%);
	z-index: -99;
}

.heading-overlay {
	height: 100%;
	width: 100%;
	background-image: url('../images/bright-squares.png');
	position: absolute;
	opacity: 0.2;
	z-index: -1;
}

header {
	height: 660px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 3px solid #8C756F;
	overflow: hidden;
}

.heading-content {
	width: 60%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: space-around;
	align-items: center;
	padding-top: 60px;
}

.heading-image {
	align-self: center;
	text-align: center;
	margin-top: 50px;
	justify-self: space-around;
}

.heading-image img{
	height: 300px;
	width: 300px;
	grid-column: 1 / span 1;
	border-radius: 50%;
	border: 7px double #FF7300;
	box-shadow: 0 0 5px 0 rgba(140, 117, 111, 0.5),
				0 0 15px -5px rgba(239, 239, 240, 0.7),
				-5px 0px 5px -7px rgba(134, 165, 170, 0.5);
	object-fit: cover;
	object-position: 0 20%;
}

.heading-image h1 {
	font-size: 3rem;
	padding-top: 30px;
	font-weight: bold;
	color: #FF7300;
	text-shadow: 2px 2px 0 #1B181D,
				 3px 2px 0 #86A5AA,
				 5px 4px 5px #86A5AA,
				 2px 2px 0 #EFEFF0;
	letter-spacing: 2px;
}

.heading-text {
	grid-column: 2 / span 1;
	height: 180px;
	font-weight: bold;
	justify-self: start;
	width: 80%;
	line-height: 1.6;
	letter-spacing: 1px;
	color: #EFEFF0;
}

.heading-text p {
	padding: 20px;
	font-size: 1.8rem;
	letter-spacing: 1.5px;
}


@media only screen and (max-width:1050px) {
	.heading-text p {
		font-size: 1.4rem;
	}

}

@media only screen and (max-width:1000px) {
	.heading-text p {
		font-size: 1.3rem;
		padding: 15px;
	}
	.heading-image img {
		height: 280px;
		width: 280px;
	}
}

@media only screen and (min-width:1000) {
	.heading-image {
		justify-self: end;
		float: right;
	}
	.heading-text {
		justify-self: start;
		float: left;
	}
}

@media only screen and (max-width:1500px) {
	.heading-content {
		display: block;
		text-align: center;
	}
	.heading-image h1 {
		font-size: 2rem;
	}
	.heading-text {
		margin: 0 auto;
		width: 70%;
		height: auto;
	}
	.heading-text p {
		padding: 10px;
	}
	.heading-image img {
		height: 250px;
		width: 250px;
	}
}

@media only screen and (max-width:600px) {
	.heading-image h1 {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width:400px) {
	.heading-image img {
		height: 200px;
		width: 200px;
	}
}