header { /*all header */
	width: 100%;
	margin: 0 auto;
	padding: 80px 30px 30px 30px;
	background-image: url('/css/images/pink.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: #ff5a6a; */
	z-index: 1;
}

/*Home Page Header*/
.heading-home-content {
	margin: auto;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.heading-home-content div {
	height: 300px;
	width: 300px;
	background-image: url('/css/images/laptop.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: inline-block;
	margin: 30px;
}

#heading-home-text {
	display: flex;
	margin: 30px;
	align-self: center;
	flex-direction: column;
}

#heading-home-text span {
	color: #10314a;
	width: 60%;
	animation: typing 2s steps(22), blink .3s step-end infinite alternate;
	animation-delay: 4s;
	/* animation-iteration-count: infinite; */
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-weight: bold;
	font-size: 2em;
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }

#heading-home-text h1 {
	padding: 30px 0;
	font-size: 2.2em;
	text-shadow: 2px 2px 2px #ffffff,
				 4px 3px 2px rgba(255, 255, 255, 0.5);
}

/*Page Headers*/
.header-page {
	text-align: center;
}

.header-page h1 {
	padding: 30px 0;
	font-size: 2.2em;
	text-shadow: 2px 2px 2px #ffffff,
				 4px 3px 2px rgba(255, 255, 255, 0.5);
}
/*About Haeder*/
.header-about #profile-pic {
    height: 300px;
	width: 300px;
    border: 2px solid #10314a;
	border-radius: 50%;
    box-shadow: 4px 6px 4px rgba(16, 49, 74, 0.7),
                -4px 6px 4px rgba(16, 49, 74, 0.7);
    object-fit: cover;
	object-position: 0 20%;
}

.header-about-content {
	margin: 0 auto;
	width: 75%;
	font-weight: bold;
}

.header-about-content div {
    padding: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.header-about-content h2 {
    font-size: 1.5em;
	text-shadow: 2px 2px 2px #ffffff,
				 4px 3px 2px rgba(255, 255, 255, 0.5);
}

.header-about-content p {
    padding: 10px 0;
}

.header-about-aside {
	margin: 0 auto;
	text-align: left;
	font-size: 1.2em;
	width: 50%;
	position: relative;
	bottom: 100px;
}

.header-about #resume a{
    color: #10314a;
    border: 4px solid #10314a;
	box-shadow: 4px 6px 4px rgba(16, 49, 74, 0.2),
                -4px 6px 4px rgba(16, 49, 74, 0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.header-about #resume a:hover {
	background-color: #628bbd;
	color: #ffffff;
	transition: 0.5s ease;
}

/*Contact Haeder*/
.header-contact-content i {
	padding: 8px;
	color: #10314a;
	font-size: 2rem;
	transition: color 0.5s ease;
}

.header-contact-content .header-social i:hover {
	color: #fff;
}

/*Project Header*/
.header-project ul{
	position: relative;
	bottom: 100px;
}

.header-project li{
	display: inline;
	margin: 4px;
	font-weight: bold;
	font-size: 1.2em;
}

.header-project li a{
	padding: 8px 10px;
	color: #10314a;
	text-align: center;
}

.header-project li a:hover{
	background-color: #628bbd;
	border-radius: 4px;
	transition: 0.5s ease;
}

/*Header Button & Icons*/
.header-btn {
	color: #10314a;
    border: 4px solid #10314a;
	box-shadow: 4px 6px 4px rgba(16, 49, 74, 0.2),
                -4px 6px 4px rgba(16, 49, 74, 0.2);
    border-radius: 5px;
    padding: 20px;
    width: 180px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.header-btn:hover {
	background-color: #628bbd;
	color: #ffffff;
	transition: 0.5s ease;
}

.header-social i {
	padding: 8px;
	margin-top: 10px;
	color: #10314a;
	font-size: 2rem;
	transition: color 0.5s ease;
}

.header-social i:hover {
	color: #fff;
}

.header-icon {
	font-size: 2em;
}