@media only screen and (max-width:1000px) {
    .heading-home-content {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #heading-home-text span {
        text-align: center;
        margin: 0 auto;
        font-size: 1.5em;
        width: 200px;
    }
    #heading-home-text h1 {
        font-size: 2em;
    }
    .header-btn {
        margin: 0 auto;
    }
}

@media only screen and (max-width:900px) {
    header, .header-page, .header-contact {
        padding: 80px 10px 20px 10px !important;
    }
    .heading-home-content {
        flex: none;
        width: 100%;
    }
    .header-page, .header-about {
        margin: 0 auto;
        padding: 10px;
    }
    .header-about-aside {
        padding: 10px;
        margin: 0 auto;
        text-align: center;
    }
    .header-about-content div {
        font-size: 1em;
    }
    main {
        width: 80% !important;
        margin: 0 auto;
    }
    main h2 {
        text-align: center;
    }
    main .card {
        width: 80%;
    }
}

@media only screen and (max-width:600px) {
    .header-box {
        width: 90%;
    }
    .header-contact-content {
        padding: 0 20px;
    }
    .heading-home-content div {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding-top: 40px;
    }
    #heading-home-text h1, h1 {
        font-size: 1.8em;
    }
    #contact-main {
        width: 100%;
        margin: 0 auto;
    }
    form label {
        text-align: center;
    }
    form {
        font-size: 1em;
    }
    form textarea {
        height: 150px;
    }
    .project .card {
        width: 90%;
    }
    .project p {
        padding: 5px;
    }
    #contact-main h2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:400px) {    
    .header-about #profile-pic {
        width: 250px;
        height: 250px;
    }
    main .card h2, main .card h3{
        font-size: 1.3em;
    }
    .main-btn a, form button, .header-btn, #resume a, #about-below {
        font-size: 1.2em;
        padding: 8px;
    }
    .header-page, .header-about, .header-project, .header-contact {
        margin: 0 auto;
    }
    .header-about-content {
        width: 100%;
    }
    .header-about #resume a {
        font-size: 1.2em;
        padding: 8px;
    }
    .header-about-aside {
        font-size: 1em;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .about-card img {
        width: 200px;
    }
    #contact-main h2 {
        font-size: 1.2em;
    }
}