/* Nav bar at desktop size plus normal styling */

nav {
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #FF7300;
	font-weight: bold;
	border-bottom: 2px solid #8C756F;
	box-shadow: -14px -18px 15px 5px #1B181D,
				0px 10px 13px -7px #1B181D;
	z-index: 100;
}

.navbar-links a {
	color: #EFEFF0;
	padding: 15px 15px 3px 15px;
	font-size: 1.2rem;
	transition: border-bottom 0.5s ease;
	letter-spacing: 2px;
}

.navbar-links a:hover {
	border-bottom: 4px solid #1B181D;
}

.navbar-logo a {
	font-family: 'Archivo Black', sans-serif;
	color: #EFEFF0 !important;
	text-decoration: none;
	float: left;
	padding: 15px 30px;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 4px;
}

.navbar-links {
	float: right;
	padding: 18px 30px;
}

/* Hamburge Menu */


#menuHamburger {
	color: #EFEFF0;
	font-size: 1.5rem;
	float: right;
	position: relative;
	top: -35px;
	padding-right: 30px;
}

#menuX {
	font-size: 1.5rem;
	display: none;
	color: #8C756F;
	padding: 30px;
}

#menuX:hover {
	color: #FF7300;
}

@media only screen and (max-width:800px) {
	#nav-display {
		display: none;
	}	
	.navbar-links {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.nav-dropdown {
		background-color: rgba(27, 24, 29, 0.9);
		text-align: center;
	}
	.navbar-links a {
		display: block;
		padding: 20px;
		transition: background-color 0.5s ease;
	}
	.navbar-links a:hover {
		background-color: #FF7300;
		border-bottom: none;
	}
	.navbar-links a:active {
		background-color: #FF7300;
		border-bottom: none;
	}
}

@media only screen and (max-width:500px) {
	nav {
		height: 50px;
	}
	.navbar-logo a, #menuHamburger {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width:350px) {
	nav {
		height: 40px;
	}
	.navbar-logo a, #menuHamburger {
		font-size: 1rem;
	}
}