/* Nav bar at desktop size plus normal styling */

nav {
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #262533;
	font-weight: bold;
	border-bottom: 2px solid #8C756F;
	z-index: 100;
}

.navbar-links a {
	color: rgba(239, 239, 240, 0.7) !important;
	padding: 15px 15px 3px 15px;
	font-size: 1.2em;
	transition: border-bottom 0.5s ease;
	letter-spacing: 2px;
	text-shadow: #8E7A96 1px 1px 0;
}

.navbar-links a:hover {
	border-bottom: 4px solid #F2F4F1;
	color: #EF03A8 !important;
}

.navbar-logo a {
	font-family: 'Archivo Black', sans-serif;
	color: #F2F4F1;
	text-decoration: none;
	float: left;
	padding: 15px 30px;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 4px;
	text-shadow: #8E7A96 1px 1px 0;
}

.navbar-logo a:hover {
	color: #EF03A8 !important;
	transition: 0.5s ease;
}

.navbar-links {
	float: right;
	padding: 18px 30px;
}

/* Hamburge Menu */


#menuHamburger {
	color: #EFEFF0;
	font-size: 1.5em;
	float: right;
	position: relative;
	top: -35px;
	padding-right: 30px;
	display: none;
}

#menuX {
	font-size: 1.5em;
	display: none;
	color: #8C756F;
	padding: 30px;
}

#menuX:hover {
	color: #F2F4F1;
	background-color: #262533;
	transition: background-color 0.5s ease;
}

#nav-display {
	display: none;
}

@media only screen and (min-width:877px) {
	#nav-display, .nav-dropdown, #menuHamburger {
	display: none;
	}	
}

@media only screen and (max-width:877px) {
	#menuHamburger {
		display: block;
	}	
	#menuHamburger:hover {
		color: #EF03A8;
		transition: background-color 0.5s ease;
	}
	.navbar-links {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.nav-dropdown {
		background-color: rgba(27, 24, 29, 0.99);
		text-align: center;
		height: 100vh;
	}
	.navbar-links a {
		display: block;
		padding: 20px;
		transition: background-color 0.5s ease;
	}
	.navbar-links a:hover {
		background-color: #262533;
		border-bottom: none;
	}
	.navbar-links a:active {
		background-color: #262533;
		border-bottom: none;
	}
}

@media only screen and (max-width:500px) {
	nav {
		height: 50px;
	}
	.navbar-logo a, #menuHamburger {
		font-size: 1.2em;
	}
}

@media only screen and (max-width:350px) {
	nav {
		height: 40px;
	}
	.navbar-logo a, #menuHamburger {
		font-size: 1em;
	}
}

@media only screen and (max-width:275px) {
	nav {
		height: 60px;
	}
}
