/*Project Main*/
.projects-content, .future-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
    row-gap: 20px;
	text-align: center;
}

.project p {
	padding: 0 0 10px 30px;
}

.project h3 {
	margin-top: 10px;
}

.project img {
	width: 90%;
	height: auto;
	border-radius: 8px;
	border: 3px solid #ff5a6a;
	box-shadow: 4px 6px 6px rgba(16, 49, 74, 0.5),
                -4px 6px 6px rgba(16, 49, 74, 0.5);
}

.project-skills {
	padding-bottom: 20px;
}

.project-skills li {
	padding-top: 5px;
	text-align: left;
	margin-left: 30%;
}

.project-skills i {
	font-size: 1.5em;
}

.project aside {
	text-align: center;
	font-size: 1.2em;
    font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.project aside a{
	color: #10314a;
    border: 2px solid #10314a;
    border-radius: 5px;
	box-shadow: 2px 2px 0 #10314a;
    padding: 10px;
	width: 80px;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
}

.project aside a:hover {
    background-color: #fff;
    transition: 0.5s ease;
}

.project button {
	margin: 20px auto;
	padding: 8px 10px;
	font-size: 1em;
	font-weight: bold;
	background-color: #ff5a6a;
	color: #10314a;
	border: 2px solid #10314a;
    border-radius: 5px;
}

.project button:hover {
	background-color: #628bbd;
    color: #ffffff;
    transition: 0.3s ease;
	box-shadow: 4px 2px 4px rgba(16, 49, 74, 0.5),
                -4px 2px 4px rgba(16, 49, 74, 0.5);
}

.project button:active {
	transform: scale(0.98);
    box-shadow: 4px 2px 4px rgba(16, 49, 74, 0.5),
                -4px 2px 4px rgba(16, 49, 74, 0.5);
}

.project button i {
	font-size: 1em !important;
}

.displayStack {
	display: none;
}

.hide-stack {
	display: none;
}

#projects-main #what-next {
	padding-top: 60px;
}

