#projects-main {
	background-color: #EFEFF0;
	height: auto;
	border-top: 20px solid #FF7300;
}

.projects-content {
	width: 80%;
	margin: 0 auto;
	font-size: 1.5rem;
}

.projects-content h2 {
	font-size: 2rem;
	padding: 100px 20px 40px 20px;
	color: #1B181D;
	text-shadow: 2px 2px 0 #EFEFF0,
				 2px 2px 2px #8C756F,
				 3px 3px 0px #1B181D;
	letter-spacing: 2px;
}

#projects {
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
	letter-spacing: 1px;
}

.project {
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 10px;
}

.project h4 {
	font-size: 1.5rem;
	padding: 10 0px;
}

.project h4:hover {
	cursor: pointer;
	text-decoration: underline;
}

.smallProjects {
	font-family: 'Archivo Black', sans-serif;
	display: none;
	font-size: 1.5rem;
	padding: 10 0px;
	color: rgb(27, 24, 29);
}

.small-projects-link a {
	font-family: 'Archivo Black', sans-serif;
	color: #FF7300;
}

.small-projects-link a:hover {
	color: black;
	transition: 0.5s ease all;
}

#hideProjectHead1, #hideProjectHead2, #hideProjectHead3, #hideProjectHead4, #hideProjectHead5  {
	display: none;
}

.project-inline i, h4{
	display: inline;
}

.project-inline i {
	padding-right: 5px;
	color: #FF7300;
}

.project p {
	padding: 20px 10px;
	height: 100px;
}

.project-link {
	font-family: 'Archivo Black', sans-serif;
	display: none;
	text-align: left;
	font-size: 1.5em;
	padding-top: 3px;
}

.project-link a {
	color: #FF7300;
	font-weight: bold;
}

.project-link a:hover {
	color: black;
	transition: 0.5s ease all;
}

.project-image {
	display: none;
	height: 200px;
	width: auto;
	border: 3px solid #EFEFF0;
	border-radius: 2px;
	transition: border 0.3s ease;
}

.project-image:hover {
	border: 3px solid #FF7300;
	border-radius: 2px;
	box-shadow: 2px 2px 0 rgba(140, 117, 111, 0.7),
				0 0 10px 0 rgba(140, 117, 111, 0.5),
				0 0 15px -5px rgba(140, 117, 111),
				-5px 0px 5px -7px rgba(134, 165, 170, 0.5);
}

#projectImg1 {
	background-image: url("../images/mixed-messages.png");
	background-position: center;
	background-size: cover;
}

#projectImg2 {
	background-image: url("../images/cosy-food-club.png");
	background-position: center;
	background-size: cover;
}

#projectImg3 {
	background-image: url("../images/cat-adopt.png");
	background-position: center;
	background-size: cover;
}

#projectImg4 {
	background-image: url("../images/rise-safari.png");
	background-position: center;
	background-size: cover;
}

#projectImg5 {
	background-image: url("../images/hungry-secrets.png");
	background-position: center;
	background-size: cover;
}

@media only screen and (max-width:1000px) {
	#projects-main {
		border-top: none;
	}
}

@media only screen and (max-width:1350px) {
	#projects {
		display: block;
	}
	.project {
		display: block;
	}
	.project h4 {
		display: none;
	}
	.projects p {
		height: auto;
	}
	.smallProjects {
		display: inline-block;
		font-size: 1.2rem;
	}	
}

@media only screen and (max-width:800px) {
	.projects-content {
		font-size: 1.2rem;
	}
	.projects-content h2 {
		padding: 50px 20px 0 20px;
		font-size: 1.5rem;
		text-align: center;
	}
	.project p {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width:500px) {
	.projects-content {
		font-size: 1rem;
		width: 95%;
	}
	.projects-content h2 {
	font-size: 1.2rem;
	}
	.smallProjects {
		font-size: 1rem;
	}
	.project p {
		font-size: 0.9rem;
	}
}