#skills-section {
	background-color: #FF7300;
}

.skills-content{
	width: 80%;
	margin: 0 auto;
}

.skills-inline h3 {
	font-size: 1.8rem;
	padding: 100px 20px 40px 20px;
	color: #1B181D;
	text-shadow: 2px 2px 0 #FF7300,
				 2px 2px 2px #EFEFF0,
				 3px 3px 0px #EFEFF0;
	letter-spacing: 2px;
}

.skills {
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 20px;
}

.skill img {
	width: 30px;
	height: 30px;
	display: inline-block;
	padding: 20px;
	-webkit-filter: drop-shadow(0 0 3mm rgba(27, 24, 29, 0.9));
}

@media only screen and (min-width:1200) {
	.skill img {
		width: 80px;
		height: 80px;
	}
}

@media only screen and (min-width:1000) {
	.skill img {
		width: 60px;
		height: 60px;
	}
}

@media only screen and (min-width:900) {
	.skill img {
		width: 50px;
		height: 50px;
	}		
}

@media only screen and (min-width:800px) {
	.skill img {
		width: 40px;
		height: 40px;
	}
}

@media only screen and (max-width:800px) {
	#skills-section {
		text-align: center;
		font-size: 1.2rem;
	}
	#skills-section h3 {
	padding: 50px 20px 40px 20px;
	font-size: 1.5rem;
	}
}
@media only screen and (max-width:700px) {
	.skill img {
		width: 25px;
		height: 25px;
	}
}

@media only screen and (max-width:700px) {
	.skills {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (max-width:500px) {
	#skills-section {
		font-size: 1rem;
	}
	#skills-section h3 {
	font-size: 1.2rem;
	}
}